.wrapper
    section.home
        picture.home__image
            source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/home-photo-desc.jpg")
            source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/home-photo-tab.jpg")
            source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/home-photo-tab.jpg")
            source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/home-photo-tab.jpg")
            img(src="img/home-photo-desc.jpg" alt="Favbet")
        h1.home__title
            .home__title-top Kod kuće kao
            .home__title-bottom na #[span stadionu]
        .home__mouse
            .home__mouse-body
                .home__mouse-wheel
    section.participation
        .participation__container
            .participation__row
                .participation__info
                    h2.participation__title Дім – це #[span місце сили]
                    .participation__text
                        p.
                            Домашній стадіон, який пам'ятає легендарні
                            перемоги та буденні ляпи. Де ти готуєшся до нового дня,
                            як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                        p.
                            Бо твій дім - #[span твій домашній стадіон.]
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми
                            та домашні кінотеатри.
                        p.
                            Вболівай вдома , як на стадіоні.
                    a(href="#").participation__button Взяти участь
                .participation__image
                    picture
                        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/participation-img-desc.png")
                        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/participation-img-tab.png")
                        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/participation-img-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/participation-img-mob.png")
                        img(src="img/participation-img-desc.png" alt="Favbet")
    section.faq
        .faq__container
            h2.faq__title Як взяти #[span участь]?
            ul.faq__row
                li.faq__item
                    img(src='img/faq-icon1.svg' alt='icon').faq__item-image
                    p.faq__item-text Тисни кнопку #[br] ”Взяти участь”
                li.faq__item
                    img(src='img/faq-icon2.svg' alt='icon').faq__item-image
                    p.faq__item-text Виконуй #[br] завдання
                li.faq__item
                    img(src='img/faq-icon3.svg' alt='icon').faq__item-image
                    p.faq__item-text Отримуй бонуси #[br] та заробляй бали
                li.faq__item
                    img(src='img/faq-icon4.svg' alt='icon').faq__item-image
                    p.faq__item-text Бери участь у фіналi #[br] розіграшу призів
    section.task
        .task__container
            h2.task__title Завдання
            .task__info
                .task__slider#task-slider
                    .task__slider-item
                        .cosmic__prizes-slider-name Iphone 13 Pro
                    .task__slider-item
                        .cosmic__prizes-slider-name Iphone 13 Pro
                    .task__slider-item
                        .cosmic__prizes-slider-name Iphone 13 Pro
                    .task__slider-item
                        .cosmic__prizes-slider-name Iphone 13 Pro
                    .task__slider-item
                        .cosmic__prizes-slider-name Iphone 13 Pro
                .task-controls
                    .controls-left.arrow-disabled
                        .controls-left__arrow
                    .controls-right
                        .controls-right__arrow

















