section.home
    picture.home__image
        source(media="(min-width: 1025px) " srcset="img/home-photo-desc.jpg")
        source(media="(min-width: 771px) and (max-width: 1024px) " srcset="img/home-photo-tab.jpg")
        source(media="(min-width: 551px) and (max-width: 770px)" srcset="img/home-photo-tab-min.jpg")
        source(media="(max-width: 550px)" srcset="img/home-photo-mob.jpg")
        img(src="img/home-photo-desc.jpg" alt="Favbet")
    h1.home__title
        .home__title-top Kod kuće kao
        .home__title-bottom na #[span stadionu]
    .home__mouse
        .home__mouse-body
            .home__mouse-wheel
.wrapper-main
    section.participation
        .participation__container
            .participation__row
                .participation__info
                    h2.participation__title Дім – це #[span місце сили]
                    .participation__text
                        p.
                            Домашній стадіон, який пам'ятає легендарні
                            перемоги та буденні ляпи. Де ти готуєшся до нового дня,
                            як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                        p.
                            Бо твій дім - #[span твій домашній стадіон.]
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми
                            та домашні кінотеатри.
                        p.
                            Вболівай вдома , як на стадіоні.
                    .info-participation
                        a(href="#").participation__button Взяти участь
                        //Вже бере участь
                        .participation__active Ти вже береш участь
                .participation__image
                    picture
                        source(media="(min-width: 1025px)" srcset="img/participation-img-desc.png")
                        source(media="(min-width: 771px) and (max-width: 1024px)" srcset="img/participation-img-tab.png")
                        source(media="(min-width: 601px) and (max-width: 770px)" srcset="img/participation-img-tab-min.png")
                        source(media="(max-width: 600px) " srcset="img/participation-img-mob.png")

                        img(src="img/participation-img-desc.png" alt="Favbet")
    section.faq
        .faq__container
            h2.faq__title Як взяти #[span участь]?
            ul.faq__row
                li.faq__item
                    img(src='img/faq-icon1.svg' alt='icon').faq__item-image
                    p.faq__item-text Тисни кнопку #[br] ”Взяти участь”
                li.faq__item
                    img(src='img/faq-icon2.svg' alt='icon').faq__item-image
                    p.faq__item-text Виконуй #[br] завдання
                li.faq__item
                    img(src='img/faq-icon3.svg' alt='icon').faq__item-image
                    p.faq__item-text Отримуй бонуси #[br] та заробляй бали
                li.faq__item
                    img(src='img/faq-icon4.svg' alt='icon').faq__item-image
                    p.faq__item-text Бери участь у фіналi #[br] розіграшу призів
    section.task
        .task__container
            h2.task__title Завдання
            .task__info.leftImageHidden
                .task-wrap
                    .task__slider#task-slider
                        .task__slider-item
                            .task__slider-wrapper
                                .task__slider-info
                                    .task__slider-time
                                        p.time 14.02 - 25.02
                                        p.text Prematch
                                    .task__slider-text Сделать ставку на точный счет в основное время, 2 матча - 2 ставки (прематч, последняя ставка)
                                    .task__slider-prize
                                        img(src='img/present-icon.svg' alt='prize-icon')
                                        p 1 win bet - СБР 500 UAH, 2 win bets  - СБР 1500 UAH

                        .task__slider-item
                            .task__slider-wrapper
                                .task__slider-info
                                    .task__slider-time
                                        p.time 14.02 - 25.02
                                        p.text Prematch
                                    .task__slider-text Сделать ставку на точный счет в основное время, 2 матча - 2 ставки (прематч, последняя ставка)
                                    .task__slider-prize
                                        img(src='img/present-icon.svg' alt='prize-icon')
                                        p 1 win bet - СБР 500 UAH, 2 win bets  - СБР 1500 UAH
                        .task__slider-item
                            .task__slider-wrapper
                                .task__slider-info
                                    .task__slider-time
                                        p.time 14.02 - 25.02
                                        p.text Prematch
                                    .task__slider-text Сделать ставку на точный счет в основное время, 2 матча - 2 ставки (прематч, последняя ставка)
                                    .task__slider-prize
                                        img(src='img/present-icon.svg' alt='prize-icon')
                                        p 1 win bet - СБР 500 UAH, 2 win bets  - СБР 1500 UAH


                        .task__slider-item
                            .task__slider-wrapper
                                .task__slider-info
                                    .task__slider-time
                                        p.time 14.02 - 25.02
                                        p.text Prematch
                                    .task__slider-text Сделать ставку на точный счет в основное время, 2 матча - 2 ставки (прематч, последняя ставка)
                                    .task__slider-prize
                                        img(src='img/present-icon.svg' alt='prize-icon')
                                        p 1 win bet - СБР 500 UAH, 2 win bets  - СБР 1500 UAH


                        .task__slider-item
                            .task__slider-wrapper
                                .task__slider-info
                                    .task__slider-time
                                        p.time 14.02 - 25.02
                                        p.text Prematch
                                    .task__slider-text Сделать ставку на точный счет в основное время, 2 матча - 2 ставки (прематч, последняя ставка)
                                    .task__slider-prize
                                        img(src='img/present-icon.svg' alt='prize-icon')
                                        p 1 win bet - СБР 500 UAH, 2 win bets  - СБР 1500 UAH


                        .task__slider-item
                            .task__slider-wrapper
                                .task__slider-info
                                    .task__slider-time
                                        p.time 14.02 - 25.02
                                        p.text Prematch
                                    .task__slider-text Сделать ставку на точный счет в основное время, 2 матча - 2 ставки (прематч, последняя ставка)
                                    .task__slider-prize
                                        img(src='img/present-icon.svg' alt='prize-icon')
                                        p 1 win bet - СБР 500 UAH, 2 win bets  - СБР 1500 UAH
                .task-controls
                    .controls-left.arrow-disabled
                        .controls-left__arrow
                    .controls-right
                        .controls-right__arrow
                .task-counter
                    .active-slide 1
                    span /
                    .all-slide 8
                a(href='#').task__button Виконати
                .task__side Виконано: 0/3
            details.task__details
                summary.task__summary Детальніше
                .task__details-text
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
    section.prize
        .prize__container
            .prize__row
                .prize__image
                    picture
                        source(media="(min-width: 1025px) " srcset="img/prize-img-desc.png")
                        source(media="(min-width: 771px) and (max-width: 1024px)" srcset="img/prize-img-tab.png")
                        source(media="(max-width: 770px) " srcset="img/prize-img-tab-min.png")
                        source(media="(min-width: 551px) and (max-width: 770px)" srcset="img/home-photo-tab-min.jpg")
                        source(media="(max-width: 550px)" srcset="img/prize-img-tab-min.png")
                        img(src="img/prize-img-desc.png" alt="Favbet")
                .prize__info
                    h2.prize__title Призи
                    p.prize__text Бери участь у розіграші призів, більше балів за виконані завдання - більше шансів виграти призи
                    ul.prize__list
                        li.prize__item TVs with a huge diagonal
                        li.prize__item Home cinema
                        li.prize__item Beer fridge
                        li.prize__item Home cinema
                        li.prize__item Beer fridge
                        li.prize__item Stand for beer
                        li.prize__item TV subscription
                        li.prize__item Headphones
                        li.prize__item Freespins
                        li.prize__item Deposit bonus
            details.prize__details
                summary.prize__summary Детальніше
                .prize__details-text
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.

    section.tournament
        .tournament__container
            h2.tournament__title Турнірна #[span таблиця]
            .resultTable
                .resultTable__wrapper
                    .resultTable__head
                        .resultTable__head-check Рахунок
                        .resultTable__head-points Бали
                        .resultTable__head-prize Приз
                    .resultTable__body
                        .resultTable__body-item
                            .resultTable__body-number 21  #[span (Ти)]
                            .resultTable__body-check 233434
                            .resultTable__body-points._active 345
                            .resultTable__body-prize TVs with a huge diagonal
                        .resultTable__body-item
                            .resultTable__body-number 1
                            .resultTable__body-check 233434
                            .resultTable__body-points 189
                            .resultTable__body-prize Home cinema
                        .resultTable__body-item
                            .resultTable__body-number 2
                            .resultTable__body-check 233434
                            .resultTable__body-points 78
                            .resultTable__body-prize Beer fridge
                        .resultTable__body-item
                            .resultTable__body-number 3
                            .resultTable__body-check 233434
                            .resultTable__body-points 34
                            .resultTable__body-prize Stand for beer
                        .resultTable__body-item
                            .resultTable__body-number 4
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 5
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 6
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 7
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 8
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
            details.tournament__details
                summary.tournament__summary Детальніше
                .tournament__details-text
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
            a(href='#').tournament__button Взяти участь
    section.rules
        .rules__container
            details.rules__details
                summary.rules__summary Детальні правила акції
                .rules__details-text
                    .wrapper
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.






















